/* styles for my final project */

@font-face {
    font-family: "Miketestfont";
    src: url("Miketestfont-Regular.otf");
}

body {
    background-color: white;  
    font-size: 15px;
    text-align: center;
}

.buttonImg {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

img {
    display: block;
    margin: 1rem auto;
    align-content: center;
}

p {
    font-size: 18px;
    font-weight: 200;
}

a:link {
    color: #170b6d;
}

a:visited {
    color: #742a2b;
}

a:hover {
    background-color: #170b6d;
    color: white;
    text-decoration: none; 
}

a:active {
    background-color: orange;
    color: white;
    text-decoration: line-through;
}

.pigeoninthecity {
    display: block;
    max-width: 500px;
    margin: 5rem auto;
    align-content: center;
    max-width: 100%;
}

.artboard {
    position: relative;
}

.wind {
    position: absolute;
    max-width: 75px;
    top: 200px;
    left: 725px;
}

.nestFlapButton {
    position: absolute;
    max-width: 75px;
    top: 440px;
    left: 800px;
}

.imgChanger {
    max-width: 250px;
    position: absolute;
    top: 425px;
    left: 530px;
}

.descentButton {
    max-width: 75px;
    position: absolute;
    top: 800px;
    left: 200px;
}

.descent {
    max-width: 800px;
    position: absolute;
    top: 740px;
    left: 285px;
}

.featherMochaButton {
    max-width: 75px;
    position: absolute;
    top: 1350px;
    left: 2290px;
    
}

.hiderMochaText {
    max-width: 250px;
    position: absolute;
    top: 1250px;
    left: 2230px;
}

.garbageFeather {
    max-width: 75px;
    position: absolute;
    top: 2280px;
    left: 1630px;
}

.garbage {
    max-width: 550px;
    position: absolute;
    top: 2050px;
    left: 1650px;
}

.coo {
    position: absolute;
    max-width: 75px;
    top: 2970px;
    left: 1945px;
}

.featherCup{
    max-width: 75px;
    position: absolute;
    top: 2800px;
    left: 2800px;
}

.cup {
    max-height: 400px;
    position: absolute;
    top: 2800px;
    left: 2550px;
}

.overhead {
    position: absolute;
    max-width: 75px;
    top: 3325px;
    left: 3610px;
}

.crowd {
    position: absolute;
    max-width: 75px;
    top: 3800px;
    left: 3895px;
}

.rustle {
    position: absolute; 
    max-width: 75px;
    top: 4550px;
    left: 5820px;
}

.featherShoo {
    max-width: 75px;
    position: absolute;
    top: 5840px;
    left: 7780px;
}

.shoo {
    max-width: 1000px;
    position: absolute;
    top: 5700px;
    left: 7250px;
}

.bridgeLand {
    max-width: 75px;
    position: absolute;
    top: 8600px;
    left: 8925px;
}

.bridge {
    max-height: 600px;
    position: absolute;
    top: 8150px;
    left: 8520px;
}

.flyaway {
    position: absolute;
    max-width: 75px;
    top: 9900px;
    left: 8800px;
}

.return {
    position: absolute;
    max-width: 90px;
    top: 10200px;
    left: 9110px;
}

#wind {
    cursor: pointer;
}

#nestFlap {
    cursor: pointer;
}

#garbageFeather {
    cursor: pointer;
}

#coo {
    cursor: pointer;
}

#crowd {
    cursor: pointer;
}

#descentFeather {
    cursor: pointer;
}

#featherMochaButton {
    cursor: pointer;
}

#featherCup{
    cursor: pointer;
}

#overhead {
    cursor: pointer;
}

#rustle {
    cursor: pointer;
}

#bridgeLand {
    cursor: pointer;
}

#flyAway {
    cursor: pointer;
}

#featherShoo {
    cursor: pointer;
}












                       