/* styles for hellevator*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #608b8f;
    color: goldenrod;
    text-align: center;
    position: relative;
}

img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 1rem auto;
}


h1 {
    text-align: center;
    font-size: 3rem;
}

.flexer {
    display: flex;
    height: 100vh;
    flex-direction: column;
}


/*Specific to the Index*/

.headerBar {
    width:100%;
    background-color: #183b36;
    padding: 1rem;
    position: relative; 
    top: 0;
}


.exteriorElevator {
    width: 100%;
    max-width: 446px;
    display: block;
    margin: auto;
    position: relative;
}


.linkButton {
    width: 12.5%;
    display: block;
    margin: auto;
    position : absolute;
    left: 43.8%;
    bottom: 35.8%;
}

.goingDown {
    display: block;
    margin: auto;
}

.footerBar {
    width: 100%;
    background-color: #183b36;
    padding: 1rem;

}


/*Specific to Page One*/


.buttonLayering {
    position: relative;
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 2rem auto;
}

#buttonOne {
    width: 14%;
    display: block;
    margin: auto;
    position: absolute;
    left: 43.1%;
    bottom: 19.7%;
}

#buttonTwo {
    width: 14%;
    position: absolute;
    left: 54.7%;
    bottom: 28.3%;
}

#buttonThree {
    width: 14%;
    position: absolute;
    left: 31.5%;
    bottom: 28.3%;
}

#buttonFour {
    width: 14%;
    position: absolute;
    left: 54.7%;
    bottom: 41%;
}

/*Specific to page 3*/

#elevatorInterior {
    width: 80%;
    min-width: 400px;
    max-width: 600px;
    display: block;
    margin: auto;
    position: fixed;
    top: 0;
    left: 10%;
    bottom: 0;
    right: 10%;
    z-index: 100;
}

.parentRelative {
    width: 100%;
    max-width: 300px;
    position: relative;
    display: block;
    margin: auto;
}

.floorGradients {
    width: 78%;
    max-width: 400px;
    height: 1000px;
    display: block;
    margin: 0 auto;
    padding: 0;
    top: 0;
    left: 11%;
    bottom: 0;
    right: 11%;
}

.buttonParent {
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}

.buttonHolder {
    width: 35%;
    position: relative;
    display: block;
    margin: auto;
    z-index: 101;
    box-sizing: border-box;
    
}

.openSesame {
    width: 22%;
    position: absolute;
    left: 39.2%;
    bottom: 28%;
    z-index: 102;
}

/* Specific to Page 4 */

.finalPanel {
    width: 100%;
    max-width: 1000px;
}

.goingUp {
    position: relative;
    display: block;
    margin: auto;
    max-width: 350px;
}

.upButton {
    width: 16.2%;
    position: absolute;
    bottom: 59.3%;
    left: 42.1%;
}


/* active link styles must be in order: link, visited, hover, active */


a:link {
    color: palegoldenrod;
    font-family: Didot;
    display: inline-block;
    margin: 1rem auto;
    text-align: center;
}

a:visited {
    color: darkgoldenrod;
}

a:hover {
    background-color : goldenrod;
    color: antiquewhite;
    text-decoration: none;
}

a:active {
    background-color: goldenrod;
    color: antiquewhite;
    text-decoration: underline; 
}