/*styles for assignment 6*/

@font-face {
    font-family: "sonyaFont";
    src: url("Sonyafont-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #bdd8e8;
    color: white;
    font-family: sonyaFont, sans-serif;
}

.mainContainer {
    height: 98vh;
    display: block;
}

.titleImg {
    height: 8vh;
    margin: 1vh;
}

.comicPanel {
    height: 80vh;
    margin: 1vh;
}

.header { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
/*
    display: block;
    background-color: #bdd8e8;
    height: 10vh;
    top: 0;
    z-index: 100;
*/
}

.panelWindow {
    
}



.headerURL {
    font-family: sonyaFont, sans-serif;
    font-size: 1rem;
}



.mobileButton {
    position: absolute;
    left: 15%;
    bottom: 20%;  
}

.startButton {
    position: absolute;
    left: 50%;
    bottom: 50%;
}